     <!------------------------------------ Search Block -------------------------------->
        
        <div class="row search-division">
            
            <div class="col mobDis"></div>

            <div class="col-sm-8">
                <form class="form-inline d-flex justify-content-center">
                    <div class="form-group search-block">
                    <input type="text" class="form-control-lg search-bar" placeholder="Search with Product or Brand">
                    </div>
                    <button type="submit" class="btn btn-primary backBlue search-button" href="#">Search</button>
                </form>
            </div>
            <div class="col mobDis"></div>
        </div>


        <!--------------------------------- Main Block -------------------------------------->
            
        <div class="row mainRow">

            <div class="col sideNav backBlue">
                <p> <a href="#" class="whiteText hoverer secHeader"> Brands </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> Stores </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> Laptops </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> Mobiles </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> Highest Rated </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> Most Popular </a> </p>
                <p> <a href="#" class="whiteText hoverer secHeader"> New Items </a> </p>
            </div>
           
            <div class="col-10 yourProducts backMain">
                <h3>  <%- include('partials/messages') %> </h3>
                <h1 class="headerText normalText">
                    Your Products
                </h1><br>
                <!-- <div class="row productRow">
                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="sampe_image123.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="sampe_image123.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div> 

                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="../uploads/bird.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div>
                </div> -->
                

                <div class="row productRow">
                   
                <% items.forEach(function(item){ %>   
                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="../uploads/<%=item.productImage %>" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText"><%=item.name %></h3>
                            <ul class="card-text">
                                <li class="whiteText"><%=item.brand %></li>
                                <li class="whiteText"><%=item.price %></li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="/post/display/<%= item._id %>" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div>

                <% }); %>    

                    <!-- <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="sampe_image123.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 d-flex justify-content-center">
                        <div class="card backBlue" style="width: 18rem;">
                            <img class="card-img-top" src="sampe_image123.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-title whiteText">Product 1</h3>
                            <ul class="card-text">
                                <li class="whiteText">Company: xyz</li>
                                <li class="whiteText">Price: 100000</li>
                                <li class="whiteText">Ratings: 5.4</li>
                            </ul>
                            <a href="#" class="btn btn-primary">More Deatils</a>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card loadCard">
                    <h1 class="btn whiteText backBlue search-button loadMore">
                        Load More
                    </h1>
                </div>
                
            </div>

        </div>


        <div class="addItem">
            <h1 class="btn whiteText backBlue search-button headerText loadMore">
                Add New Item
            </h1>
        </div>

